.mainBG {
  color: rgb(238, 232, 221);
  font-family: Commissioner, sans-serif;
  font-weight: 600;
  height: 100%;
}
.main {
  background: linear-gradient(
    90deg,
    rgba(55, 51, 113, 1) 0%,
    rgba(164, 164, 230, 1) 55%,
    rgba(50, 191, 219, 1) 100%
  );
  color: antiquewhite;
}
.carousel-item .d-block {
  height: 450px;
  filter: blur(3px);
}
.part-one {
  width: 100%;
  text-align: center;
  font-family: "Poppins";
  font-size: 30px;
  color: rgb(133, 133, 133);
}
.part-one p:first-child {
  margin-top: 0;
  padding-top: 40px;
  font-weight: 700;
  font-size: 40px;
  color: rgb(112, 112, 112);
}
.part-two {
  background-image: url();
}
.part-three {
  align-items: center;
  height: 100vh;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(226, 226, 226, 1) 52%,
    rgba(255, 255, 255, 1) 100%
  );
  display: flex;
  justify-content: space-around;
}
.part-four {
  height: 100vh;
  background-color: #29243b;
  background-image: url("../images/pictures/background-2.png");
  background-repeat: no-repeat;
  background-size: 700px;
  background-position: 100% 50%;
  color: rgb(179, 184, 189);
  display: flex;
  align-items: center;
}

.texts {
  width: 50%;
  margin-left: 2%;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
}
.texts h2 {
  color: rgb(207, 115, 103);
}
.texts button {
  width: 20%;
  height: 40px;
  border-radius: 15px;
  font-weight: 600;
  background-color: rgb(207, 115, 103);
  border: none;
  box-shadow: black 5px 5px 8px;
  transition: width 1.5s;
  color: white;
}
.texts button:hover {
  width: 35%;
  height: 40px;
  border-radius: 15px;
  background-color: rgb(207, 115, 103);
  border: none;
  box-shadow: black 5px 5px 8px;
  transition: width 1.5s;
}
